@import "reutilizables.module.scss";
.container {
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--bgColor-main);
  transition: 0.5s all ease-in-out;
}
.boxContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  min-width: 30vw;
}

.box {
  padding: 2em;
  width: 300px;
  height: 300px;
  border: 2px solid $colorA;
  border-radius: 2.5em;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxBenef {
  width: 30vw;
}
.clientext {
  @include estiloFuentes(clamp(1rem, 2.5vw, 1.6rem));
}
.clientextb {
  @include subTitulos($colorA);
}
//--------------//MEDIA Q TABLET//--------------//

@media only screen and (max-width: 1000px) {
  .box {
    width: 250px;
    height: 250px;
  }
  .container {
    gap: 30px;
  }
  .boxContent {
    min-height: 35vh;
  }
}
@media only screen and (max-width: 700px) {
  .box {
    width: 220px;
    height: 220px;
  }
  .boxContent {
    min-height: 15vh;
  }
}
@media only screen and (max-width: 588px) {
  .container {
    gap: 5%;
  }
  .box {
    width: 180px;
    height: 220px;
    margin: 1.5rem 0 1.5rem 0;
  }

  .boxBenef {
    width: 100%;
    margin: 2rem 0 2rem 0;
  }
}
@media only screen and (max-width: 473px) {
  .boxContent:nth-child(2) {
    transform: translateX(40px);
  }
  .boxContent:nth-child(3) {
    transform: translateX(-40px);
  }
  .boxContent:nth-child(4) {
    transform: translateX(40px);
  }
}
